<div class="pf-c-classification-banner{{#if classification-banner--modifier}} {{classification-banner--modifier}}{{/if}}"
  {{#if classification-banner--attribute}}
    {{{classification-banner--attribute}}}
  {{/if}}>
  {{> @partial-block}}
</div>
